<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon"
          href="leaf.png"
          sizes="any"/>

    <title>Admin page</title>
</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light" style="background-color: #477979;">
    <div id="test" class="container-fluid">
        <a class="navbar-brand number2" href="#"></a>
        <a th:href="@{/logout}" class="float-right btn text-secondary">Logout</a>
    </div>
    </div>
</nav>


<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                           role="tab"
                           aria-controls="nav-home" aria-selected="true">Users table</a>

                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile" aria-selected="false">New User</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="col-10 px-lg-5 border bg-light align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <h5>All users</h5>
                                </ol>
                            </nav>
                            <table id="tableAllUsers" class="table table-striped tableAllUsers">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody class="allUsersInfo">
                                <!--                                Modal-->
                                <div class="modal fade" id="editModal"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="editModalLabel"
                                     aria-hidden="false">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="EditForm">
                                                    <div class="text-center font-weight-bold">
                                                        <div class="row">
                                                            <div class="col-4"></div>
                                                            <div class="h6 col-4">
                                                                <label for="idEdit">Id</label>
                                                                <input class="form-control" type="text"
                                                                       id="idEdit" disabled>
                                                                <br>
                                                                <label for="firstNameEdit">First Name</label>
                                                                <input class="form-control" type="text"
                                                                       id="firstNameEdit">
                                                                <br>
                                                                <label for="lastNameEdit">Last Name</label>
                                                                <input class="form-control" type="text"
                                                                       id="lastNameEdit">
                                                                <br>
                                                                <label for="emailEdit">Email</label>
                                                                <input class="form-control" type="text"
                                                                       id="emailEdit">
                                                                <br>
                                                                <label for="passwordEdit">Password</label>
                                                                <input class="form-control" type="password"
                                                                       id="passwordEdit">
                                                                <br>
                                                                <label for="rolesEdit" class="form-label">Role</label>
                                                                <select
                                                                        class="form-select"
                                                                        id="rolesEdit"
                                                                        name="allRolesName"
                                                                        multiple
                                                                ></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success"
                                                                onclick="CreateEditModal()">Edit
                                                        </button>
                                                        <button id="CloseEdit" type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteModal"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="editModalLabel"
                                     aria-hidden="false">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="DeleteForm">
                                                    <div class="text-center font-weight-bold">
                                                        <div class="row">
                                                            <div class="col-4"></div>
                                                            <div class="h6 col-4">
                                                                <label for="idDelete">ID</label>
                                                                <input class="form-control" type="text"
                                                                       id="idDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="firstNameDelete">First Name</label>
                                                                <input class="form-control" type="text"
                                                                       id="firstNameDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="lastNameDelete">Last Name</label>
                                                                <input class="form-control" type="text"
                                                                       id="lastNameDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="emailDelete">Email</label>
                                                                <input class="form-control" type="text"
                                                                       id="emailDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="passwordDelete">Password</label>
                                                                <input class="form-control" type="password"
                                                                       id="passwordDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="rolesDelete">Roles</label>
                                                                <select class="form-control numberTest2"
                                                                        id="allRolesDelete"
                                                                        size="2" multiple required
                                                                        disabled>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-success"
                                                                onclick="CreateDeleteModal()">Delete
                                                        </button>
                                                        <button id="CloseDelete" type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <h5>Add new user</h5>
                            </ol>
                        </nav>

                        <form id="newUserForm">
                            <div class="text-center font-weight-bold">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="h6 col-4">
                                        <label for="firstNameNew">First Name</label>
                                        <input class="form-control" type="text"
                                               id="firstNameNew">
                                        <br>
                                        <label for="lastNameNew">Last Name</label>
                                        <input class="form-control" type="text"
                                               id="lastNameNew">
                                        <br>
                                        <label for="passwordNew">password</label>
                                        <input class="form-control" type="password"
                                               id="passwordNew">
                                        <br>
                                        <label for="emailNew">email</label>
                                        <input class="form-control" type="text"
                                               id="emailNew">
                                        <br>
                                        <label for="rolesNew">Roles</label>
                                        <select class="form-control numberTest3"
                                                id="rolesNew"
                                                size="2" multiple required>
                                        </select>
                                        <br>
                                        <div>
                                            <button type="submit" class="btn btn-success"
                                                    onclick="addNewUser()">Add new user
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1>User information-page</h1>
                <div class="container-fluid px-lg-5">
                    <div class="row">
                        <div class="col-10 px-lg-5 border bg-light align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <h5>About user</h5>
                                </ol>
                            </nav>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody class="AdminInfo">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../static/js/admin5.js"></script>
<script src="../static/js/user2.js.js"></script>
</body>
</html>